$body-bg: lightgrey;
$main-font: 'Arial';

$primary: #3F69AA;
$secondary: #fff;
// Others variables ...

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat.woff2') format('woff2');
}

* {
    font-family: 'Montserrat';
}

body {
    background: $body-bg;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    color: black;
}