$main-font: url('../fonts/Montserrat.woff2');

// Others variables ...
$bg-color: #141414; 

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: $main-font format('woff2');
}

* {
    font-family: 'Montserrat';
}

body {
    background: $bg-color;
    margin: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 120px;
}

img {
    display: block;
    margin: auto;
}

.page-footer {
    width: 100%;
    position: fixed;
    z-index: 999;
    min-height: 60px;
    bottom: 0;
}

p {
    margin: 0px;
}

.btn {
    width: 280px;
    font-size: 20px;
    border-radius: 5px;
    display: block;
    margin: auto;
}

.select-wrapper input.select-dropdown {
    color: white !important;
}